@model IEnumerable<Amenity>

<h1 class="mb-3">Amenity list</h1>

<div class="mb-3">
    <a asp-controller="Amenity" asp-action="Create" class="btn btn-secondary">
        <i class="bi bi-plus-circle"></i>
        Create new Amenity
    </a>
</div>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Villa Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Amenity in Model)
        {
            <tr>
                <td>@Amenity.Id</td>
                <td>@Amenity.Name</td>
                <td>@Amenity.Villa.Name</td>
                <td>
                    <a asp-controller="Amenity" asp-action="Update" asp-route-amenityId="@Amenity.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Amenity" asp-action="Delete" asp-route-amenityId="@Amenity.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
